/*Applying fonts to the web page*/

* {
	font-family: 'Source Sans Pro', 'Arial', 'sans-serif', 'serif';
	font-size: 16px;
}

/*body styiling*/
body {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/*Styling the horizontal line below the header*/

.line {
	border-top: 5px solid #7d97ad;
	margin-bottom: 20px;
}

/*Adding size and placement of the Udacity logo*/
.logo {
	width: 70px;
	height: 70px;
}

/*Placement and style of the header text*/

.introduction {
	float: right;
	text-align: right;
	clear: right;
	margin-bottom: 0;
	margin-top: 0;
	color: #2d3c49;
}

.top-section h1 {
	font-weight: 300;
	font-size: 3em;
}

.top-section h5 {
	font-size: 1.2em;
	font-weight: 500;
}

/*Styling the cover picture*/

.cover {
	max-width: 100%;
	height: auto;
}

.featured_work {
	color: #7d97ad;
	font-weight: 500;
	font-size: 2.5em;
}

/*Featured pictures alignment*/
.row {
	/*   Prevent vertical gaps */
	line-height: 0;

	-webkit-column-count: 3;
	-webkit-column-gap: 10%;
	-moz-column-count: 3;
	-moz-column-gap: 10%;
	column-count: 3;
	column-gap: 30px;  
}

.column img {
	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
	max-height: 200px;
}

.project_name {
	font-size: 3em;
	color: #2d3c49;
	text-align: center;
	font-weight: 500;
}

.column p {
	text-align: center;
	color: #2d3c49;
	font-weight: 500;
	font-size: 0.9em;
}

@media screen and (max-width: 499px) {
	.top-section h1 {
		font-size: 1.5em;
	}
	.top-section h5 {
		font-size: 1em;
	}
	body {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.logo {
		height: 40px;
		width: 40px;
	}
	.featured_work {
		font-size: 1.2em;
	}
	.row {
		column-count: 1;
		column-gap: 30px;  
	}
	.column h1 {
		font-size: 1.2em;
		padding: 10px 10px;
	}
}

@media screen and (min-width: 500px) and (max-width: 800px) {
	.top-section h1 {
		font-size: 2.3em;
	}
	.top-section h5 {
		font-size: 1.5em;
	}
	body {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.logo {
		height: 50px;
		width: 50px;
	}
	.featured_work {
		font-size: 2em;
	}
	.row {
		column-count: 2;
		column-gap: 30px;  
	}
	.column h1 {
		font-size: 1.2em;
		clear: right;
	}
	.column img {
		padding-bottom: 10px;
	}
}
